.combo-box{
    -fx-border-color:#006B59;
    -fx-text-fill:#006B59;
    -fx-border-width:1;
}
.combo-box .arrow{
    -fx-background-color:#006B59;
}
.combo-box .arrow-button{
    -fx-background-color:#E5F1E9;
    -fx-border-style:none;
}
.combo-box .arrow-button{
    -fx-background-color:#E5F1E9;
}
.combo-box .list-cell{
    -fx-background-color:#E5F1E9;
    -fx-text-fill:#006B59;
}

.combo-box .list-cell:hover{
    -fx-background-color:#006B59;
    -fx-text-fill:#E5F1E9;
}