.attentionBox{
    -fx-background-color: #6F7975;
    -fx-background-radius: 20;
}

.attentionLabel{
    -fx-text-fill: #E9F3EE;
}

.attentionTitle{
    -fx-text-fill: #E9F3EE;
    -fx-font-weight: 700;
}

