.attentionBox{
    -fx-background-color: #FFDAD6;
    -fx-background-radius: 20;
}

.attentionLabel{
    -fx-text-fill: #410002;
}

.attentionTitle{
    -fx-text-fill: #410002;
    -fx-font-weight: 700;
}


