.menuBox{
    -fx-background-color: #E5F1E9;
}

.titleText{
    -fx-text-fill: #092100;
}

.subTitleText{
    -fx-text-fill: #1E8570;
}

.iconBox{
    -fx-background-radius: 50;
    -fx-background-color: #E5F1E9;
}